/* START CSS Navbar */
body { 
    padding-top: 100px; 
}

.navbar{
    background-color: white;
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;
  }

.nav-item {
    margin-right: 20px;
  }

.nav-link{
    color: #101010 !important;
  }

  .nav-link:hover {
    color: whitesmoke !important; /* Mengubah warna teks tautan saat dihover */
    background-color: #f4b346;
  }

  .nav-link.active {
    color: gray !important; /* Change the color to your desired value */
  }

  .nav-link.active:hover {
    color: whitesmoke !important; /* Change the color to your desired value */
  }
/* END CSS Navbar */

/* Start CSS Content */
.image-box {
    border: 2px solid #ccc; /* Ganti dengan warna garis tepi yang diinginkan */
    padding: 10px; /* Sesuaikan padding sesuai keinginan */
    /* Atur lebar gambar agar sesuai dengan ukuran kotak */
    width: 500px;
    height: auto;
  }
/* END CSS Content */

/* START CSS Footer */
  footer {
	background: #325068;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box ul li a:hover {
	text-decoration: underline;
    color: #f4b346;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
    color: #fff;
}

.socials span{
    margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}
/* END CSS Footer */
